################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/RussianBlock/v16/Browse.VC.opendb
/.vs/
/Debug/
/Release/
/x64/
/RussianBlock/Debug/
/RussianBlock/Release/
/RussianBlock/x64/
*.exe
*.lik
*.obj
*.xml
*.sarif
*.tlog
*.log
*.pdb
*.idb
*.lastbuildstate
*.ilk
*.iobj
*.ipdb
